* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

#about,
#services,
#contact {
    background-color: #fff;
    padding: 40px 0;
}

h2 {
    font-size: 24px;
    font-weight: 700;
}

.section-title {
    position: relative;
    display: inline-block;
}

.section-title::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 3px;
    background-color: #f39c12;
}

header {
    background-image: url('/imgs/background.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    backdrop-filter: blur(10px);
    color: #fff;
    padding: .3rem 2rem;
}

nav {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a img {
    height: 60px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
    padding: 0 8px;
    border-radius: 20px;
    color: #ffff;
    border: 1px solid;
    transition: color .5s;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-links a:hover,
.nav-links li:hover {
    color: #e39a24;
}

section {
    padding: 3rem 0;
    max-width: 960px;
    margin: 0 auto;
}

#home {
    width: 40%;
    color: #fff;
    text-align: center;
    padding: 80px 0;
}

.home-content h1 {
    font-size: 2.5rem;
    margin: 10px 0;
}

.home-content p {
    font-size: 1.2rem;
    margin: 20px 0;
}

.btn {
    display: flex;
    width: 40%;
    position: absolute;
    bottom: 220px;
    justify-content: center;
}

.cta-button {
    background-color: #f39c12;
    color: #fff;
    height: 35px;
    width: 25%;
    align-items: center;
    justify-content: center;
    display: flex;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 14px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #e67e22;
}

.about-content {
    text-align: center;
}

.about-container {
    display: flex;
    max-width: 960px;
    margin-top: 40px;
}

.about-text {
    flex: 1;
    padding: 0 20px;
    text-align: left;
}

.about-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-image img {
    max-width: 200%;
    height: 350px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(205, 13, 13, 0.2);
}

.services-content {
    text-align: center;
}

.services-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.service-item {
    width: 340px;
    padding: 8px 12px;
    margin: 0 20px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.service-item p {
    padding: 0 12px;
    font-size: 12p;
}

.service-icon img {
    max-width: 270px;
    height: 200px;
    margin-bottom: 10px;
}

.service-item:hover {
    transform: translateY(-5px);
}

.contact-form {
    text-align: center;
}

.contact-container {
    display: flex;
    max-width: 960px;
    margin-top: 40px;
}

.contact-img {
    flex: 1;
    display: flex;
    align-items: center;
}

.contact-img img {
    max-width: 100%;
    height: 290px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

form {
    width: 340px;
    padding: 14px 26px;
    margin: 0 70px;
    border: 1px solid #ddd;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


form label {
    display: block;
    text-align: start;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    width: 100%;
    background-color: #f39c12;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #e67e22;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #333;
    color: #fff;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links {
        margin-top: 10px;
    }
}